body{
  background-image: url(images/webpagebackground1.png);
  background-size: 100%;
} 

div{
  width: 100%;
  text-align: center;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.title {
  margin: 20px;
}

.drum {
  outline: none;
  border: 10px solid #2d9990;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 1;
  font-weight: 500;
  color: #299729;
  text-shadow: 3px 0 #94cbdd;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;

}

.blahaj {
  margin-left: 10px;
}


.drum {
  background-image: url(images/surfboardbutton.png);
  background-repeat: no-repeat;
}

.blahaj {
  margin-left: 10px;
  margin-top: 20px;
}